global:
  scrape_interval: 90s
  scrape_timeout: 1m

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['localhost:9090']

  - job_name: node-exporter
    static_configs:
      - targets:
          - '100.117.69.115:9100'   # pimento
        labels:
          hostname: 'pimento'
      - targets:
          - '100.121.35.12:9100'    # capsicum
        labels:
          hostname: 'capsicum'
      - targets:
          - '100.102.170.100:9100'  # chipotle
        labels:
          hostname: 'chipotle'
#      - targets:
#          - '100.96.0.121:9100'     # birdseye
#        labels:
#          hostname: 'birdseye'
      - targets:
          - '100.100.211.122:9100'  # dev.dailyword
        labels:
          hostname: 'dev.dailyword'
  - job_name: cadvisor
    static_configs:
      - targets: 
          - '100.117.69.115:8080'   # pimento
          - '100.121.35.12:8080'    # capsicum
          - '100.102.170.100:8080'  # chipotle
#          - '100.96.0.121:8080'     # birdseye
          - '100.100.211.122:8081'  # dev.dailyword
  - job_name: unifi
    static_configs:
      - targets: ['100.117.69.115:9130']   # Unifi Poller on pimento
  - job_name: 'hs110'
    scrape_interval: 30s
    static_configs:
    - targets: ['100.117.69.115:8110']
  - job_name: pihole-exporter
    static_configs:
    - targets: ['100.117.69.115:9617']
  # Optional Synology SNMP scraping via snmp_exporter
#  - job_name: synology-snmp
#    static_configs:
#      - targets: ['192.168.1.150']   # Synology LAN IP (example)
#    metrics_path: /snmp
#    params:
#      module: [synology]           # Use the "synology" module defined in snmp.yml
#    relabel_configs:
#      - source_labels: [__address__]
#        target_label: __param_target
#      - source_labels: [__param_target]
#        target_label: instance
#      - source_labels: [__param_target]
#        regex: (.*)
#        replacement: ${1}:9116
#        target_label: __address__
